*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.main-container{
   position: fixed;
   inset: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(247, 247, 247);
}

.login-container{
  width: 70%;
  height: 650px;
  display: flex;
  background-color: white;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.08);
}

.right-side{
  flex: 1;

  display: flex;
  margin-top: 30px;
  align-items: center;
  flex-direction: column;

}

.right-side img{
  width: 100%;
}

.right-side div{
  color: rgb(83, 83, 83);
  margin-top: -80px;
  font-size: 17px;
  text-decoration: underline;
}

.left-side{
  flex: 1;
    display: flex;
  flex-direction: column;
}

.left-side .login-text{
  width: 100%;
  margin-top: 100px;
  font-size: 35px;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 30px;
}

.left-side input{
  width: 70%;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #bbb;
  font-size: 15px;
  outline: none;
  transition: border-color 0.4s;
    margin-left: 30px;
    padding: 6px 4px 10px; /* top | sides | bottom */
      padding-left: 50px;
}

.left-side input:focus{
  border: none;
  border-bottom: 3px solid ;
  border-bottom-color: #42abfc;
  background: transparent;
}


.email-section{
  position: relative;
}

.email-icon{
  position: absolute;
  bottom: 33px;
  left: 35px;
}

.email-icon i{
  font-size: 20px;
}

.password-section{
  position: relative;
}

.password-icon{
  position: absolute;
  bottom: 33px;
  left: 35px;
}

.password-icon i{
  font-size: 20px;
}

.remember-section{
  margin-top: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.remember-section .checkbox{
  height: 20px;
  width: 20px;
  margin-bottom: 0;
}

.remember-text{
  margin-left: 5px;
}
