*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto";
}

.container{
  height: 100vh;
  display: flex;
}

.left-side, .right-side{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side{
  background-color:rgba(29, 163, 231, 0.788);
  flex: 1;
}

.logo-container{
  width: 600px;
  height: 500px;
}

.logo-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-side{
  background-color: rgb(255, 255, 255);
  flex: 1;
}

.form-container{
  background-color: rgba(29, 163, 231, 0.788); 
  width: 500px;
  height: 600px;
  border-radius: 20px;
  padding: 20px;
}

.welcome-text{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.logo-image{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.logo-image img{
  height: 100%;
  object-fit: contain;
}


.welcome-text p{
  font-weight: 600;
  font-size: 20px;
  color: white;
}
