*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family: "Roboto";
  background-image: url("../ASSETS/ICONS/logoTeanquilScape.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container{
  height: 70vh;
  width: 70%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  /* border: 10px solid rgb(35, 95, 35); */
}


.right-side{
  background-color: transparent;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative; 
}


.right-side::before{
    content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.518);
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  transform: scale(1.2); /* prevents blur edges */
  z-index: -2;
}

.right-side img{
  width: 500px;
  height: 520px; 
  z-index: 2;
}

.left-side{
  background-color: rgb(35, 95, 35);
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.left-side .form-container{
  width: 350px;
  height: 300px;
}



.form-container #password{
  margin-bottom: 30px;
}

.form-container .email-label, .password-label{
  color: white;
  font-weight: 500;
  letter-spacing: 1.3px;
}


.form-container input{
  padding-left: 10px;
  width: 350px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
}


.form-container #submit{
  margin-bottom: 30px;
  padding-left: 0px;
}

.form-container .email-container{
  margin-bottom: 10px;
}

.form-container .password-container{
  margin-bottom: 5px;
}

.welcome{
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  position: relative;
  top: -20px;
  color: white;
}