.main-container{
  display: flex;
  gap: 20px;
  padding: 10px;
}

.product-container{
  flex: 2;
  height: calc(100vh - 110px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0px 20px;
  background-color: rgb(22, 175, 165);
  border-radius: 20px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  height: 200px;
}

.product-image img{
  width: 150px;
  /* border: 1px solid rgba(162, 153, 153, 0.723); */
  border-radius: 20px;
}

.product-name{
  padding: 8px;
  font-size: 13px;
  font-weight: bold;
  background-color: white;
  color: rgb(22, 175, 165);
  border: none;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.product-price{
  flex: 1;
  font-size: 13px;
  color: rgb(126, 126, 126);
  text-align: end;
    padding: 5px;
    color: white;
    position: absolute;
    bottom: 15px;
    right: 15px
}

.price-container{
  flex: 1;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  height: calc(100vh - 160px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.orders-title{
  font-size: 22px;
}

.item-container{
  height: 70%;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.proceed-container{
  padding: 20px;
  height: 30%;
  border-top: 2px solid rgba(162, 162, 162, 0.456);
}

.total-title{
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
}


.inner-price{
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: rgb(100, 99, 99);
}

.last-price{
  margin-top: 70px;
    padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

.cashier-container{
  display: flex;
  font-size: 15px;
  font-weight: 400;
  color: rgb(70, 70, 70);
  align-items: center;
  margin-top: 20px;

}


.cashier-name{

}

.person-container{
  height: 100%;
  border: 1px solid rgba(143, 142, 142, 0.925);
  padding: 8px;
  border-radius: 50%;
  margin-right: 12px;
}

.checkout-products{
  margin-top: 40px;
  width: 100%;
  height: 75%;
}

.fish-product{
     background-color: rgb(22, 175, 165);
 
  padding: 15px 20px 15px 20px;
  display: flex;

  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.checkout-name{
  /* padding: 10px; */
  width: 160px;
  display: flex;
}

.checkout-image{
   background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.checkout-image img{
  width: 30px;
  margin-top: 5px;
}

.checkoutProduct-name{
  flex: 1;
  font-size: 15px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.remove-container{
  width: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.remove-button{
  padding: 4px;
  font-weight: bold;
  background-color: rgba(230, 37, 37, 0.867);
  color: white;
  border-radius: 8px;
  border: none;
}

.checkout-quantity{
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.checkout-quantity .product-count{
  font-size: 15px;
  padding: 2px 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    border: none;
    border-radius: 2px;
}

.checkout-quantity .plus{
    background-color: rgb(187, 179, 179);
  border-radius: 2px;
  font-size: 14px;
      width: 22px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.checkout-quantity .minus{
  background-color: rgb(187, 179, 179);
    border-radius: 2px;
    font-size: 14px;
      width: 22px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      
}